@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#title {
    font-family: 'Dancing Script', cursive, sans-serif;
}

#mainPic {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), no-repeat center/100%  url(src/images/lucas-lenzi-zeT_i6av9rU-unsplash.jpg); 
}

#image1 {
    background: no-repeat center/100%  url(src/images/eduardo-vaccari-pIltvcnqsfU-unsplash.jpg);
}
